{#
/**
 * Template do item da View Próximos Eventos.
 * Formato compacto com widget de data.
 */
#}
<div class="flex gap-4 items-start card mini-card bg-white p-4 rounded-2xl shadow-sm border border-gray-100 mb-6 hover:shadow-md transition-shadow">
  {# Date Widget #}
  <div class="">
    <img src="{{ fields.field_imagem_capa.content }}" alt="Agenda Corporativa" class="w-20 h-20 object-cover rounded-full border-2 border-gray-200">
  </div>
  {# Event Info #}
  <div>
    <h5 class="font-semibold text-gray-900 text-base leading-none">      
        {{ fields.title.content }}      
    </h5>    
    <p class="text-sm text-gray-500 mt-1">
      Horário: {% if fields.field_data_2.content %}{{ fields.field_data_2.content }}{% endif %}      
    </p>
    <p class="text-sm text-gray-500 mt-1">      
      Local: {% if fields.field_local.content %}{{ fields.field_local.content }}{% endif %}
    </p>
  </div>
</div>